<div class="p-4 pt-3 h-full rounded-lg overflow-hidden bg-white">
    <div class="flex flex-row justify-between gay-2 mt-2 mb-7">
        <div class="flex">
            <h2 class="text-sm font-bold mr-1">Product Catalogs</h2>
            <p class="font-normal text-sm text-yellow-400">- Pineapple Thanh Hoa 10kg</p>
        </div>
        <div>
            <p>icon</p>
        </div>
    </div>
    <div>
        <p class=" font-medium md:font-normal text-sm text-gray-500">PRODUCT SALES OVER TIME</p>
    </div>

    <app-barchart></app-barchart>
</div>