<nav class="fixed bottom-0 left-0 right-0 z-50 shadow-lg md:py-2 md:h-full md:absolute md:top-0 md:max-w-sidebarWidth bg-primary md:shadow-none ">
    <div class="flex flex-col items-center md:pt-1">
        <a routerLink="/"><img src="./assets/logo1.png" alt="" class="hidden px-1 mb-4 md:block " ></a>
        <ul class="flex items-center justify-center w-full gap-2 md:flex-col"> 
            <li *ngFor="let element of elements" class="relative flex w-full duration-100 ease-linear border-b-0 border-l-0 opacity-50 cursor-pointer group hover:opacity-100 hover:sm:border-b-4 hover:md:border-b-0 " routerLink={{element.path}} routerLinkActive="active" >
                <a class="flex w-full py-2 md:py-4 ">
                    <i class="{{element.icon}}  text-white mx-auto "></i>
                </a>
                <div class="absolute top-0 bottom-0 left-0 opacity-0 invisible pointer-events-none w-[2px] h-full hover:block duration-100 ease-linear bg-secondary" >
                </div>
            </li>
        </ul>
    </div>
    <!-- <div class="flex-1 w-full h-screen bg-primary grow"></div> -->
    <app-submenu></app-submenu>
</nav>
