<div #submenu class="-z-10 ease-linear duration-200 absolute top-0 bottom-0 left-full bg-white border-r-2 border-opacity-80 md:py-3 lg:mb-4 pointer-events-none md:px-4 md:w-64 lg:w-96 lg:max-w-[250px] h-full opacity-0" [ngClass]="{'opacity-100 pointer-events-auto': isSubmenuOn}">
    <div class="flex items-center gap-2 mb-8">
        <img src="../../assets/dashboard_heading_icon.jpg" alt="">
        <span class="text-sm font-bold">Dashboard</span>
    </div>
    <a class="flex items-center gap-2 mb-8 cursor-pointer" (click)="triggerSubmenu()">
        <img src="../../assets/leftArrow.png" alt="" class="flex-shrink-0 w-6 h-6">
        <div class="">
            <p class="-mb-2 text-sm font-bold">Dashboard</p>
            <span class="font-mono text-xs tracking-tighter break-words whitespace-normal text-primary ">Back to Main Navigation</span>
        </div>
    </a>
    <ul class="flex flex-col items-center justify-center w-full gap-4"> 
        <li  *ngFor="let element of elements" class="w-full duration-100 ease-linear border-l-0 opacity-50 cursor-pointer lg:py-2 md:pl-4 hover:opacity-100 hover:text-primary hover:border-l-4 hover:border-primary" routerLink={{element.path}} routerLinkActive="active">
            <a class="flex items-center w-full gap-2 md:py-2 lg:py-0">
                <div class="">
                    <img src={{element.imgSrc}} alt="" class="object-cover w-5">
                </div>
                <span class="text-sm text-gray-600 break-words whitespace-normal">{{ element.content }}</span>
            </a>
        </li>
    </ul>
</div>
