<div class="flex flex-col text-left mb-20 rounded-b-lg bg-white ">
    <hr class="mb-3" />
    <div class="flex flex-row justify-between px-4">
        <p class="font-medium text-xs text-gray-500">Sale Stores</p>
        <p class="font-medium text-xs text-gray-500">Actual Value</p>
        <p class="font-medium text-xs text-gray-500 hide">Share in %</p>
    </div>
    <hr class="mt-3 mb-4" />
    <div class="flex flex-row justify-between px-4 mb-3">
        <p class="font-medium text-xs text-gray-800 ">Shopee SG</p>
        <p class="font-medium text-xs text-gray-800 ">SGD 2,425,520.00</p>
        <p class="font-medium text-xs text-gray-800 ">35</p>
    </div>
    <div class="flex flex-row justify-between px-4 mb-3">
        <p class="font-medium text-xs text-gray-800 ">Lazada VN</p>
        <p class="font-medium text-xs text-gray-800 ">SGD 2,025,678.00</p>
        <p class="font-medium text-xs text-gray-800 ">30</p>
    </div>
    <div class="flex flex-row justify-between px-4 mb-3">
        <p class="font-medium text-xs text-gray-800 ">Lazada SG</p>
        <p class="font-medium text-xs text-gray-800 ">SGD 1,425,678.00</p>
        <p class="font-medium text-xs text-gray-800 ">20</p>
    </div>
    <div class="flex flex-row justify-between px-4 mb-3">
        <p class="font-medium text-xs text-gray-800 ">Lazada SG</p>
        <p class="font-medium text-xs text-gray-800 ">SGD 1,025,678.00</p>
        <p class="font-medium text-xs text-gray-800 ">15</p>
    </div>
</div>