<div class="max-w-[400px] min-w-[370px] mx-auto">
  <!-- header -->
  <div class="flex flex-row justify-between items-center my-4">
    <span class="text-orange-400">- Lazada VN</span>
    <button class="w-8 h-8 border border-solid border-slate-400 border-opacity-40 rounded-sm">
      <i class="pi pi-filter text-sky-900"></i>
    </button>
  </div>
  <!-- end of header -->

  <!-- order statistic -->
  <div class="border border-solid border-slate-400 border-opacity-40 rounded-sm mb-4">
    <div class="flex justify-between items-center w-full border-b border-solid border-slate-400 border-opacity-40 p-1.5 px-4">
      <span class="text-gray-400">ORDER</span>
      <a routerLink="./" class="text-blue-900 text-sm">
        <i class="pi pi-plus-circle text-blue-900"></i> Manage Orders
      </a>
    </div>
    <div class="p-4">
      <div class="flex flex-col mb-2">
        <span class="text-sm mb-1">New Orders</span>
        <span class="font-bold text-xl">{{ data.orderData.newOrders }}</span>
      </div>
      <div class="flex flex-col">
        <span class="text-sm">Issue <i class="pi pi-circle-fill text-[7px] text-red-500"></i></span>
        <span class="font-bold text-xl">{{ data.orderData.issue }}</span>
      </div>
    </div> 
  </div>
  <!-- end order statistic -->

  <!-- product inventory statistic -->
  <div class="border border-solid border-slate-400 border-opacity-40 rounded-sm mb-4">
    <div class="flex justify-between w-full border-b border-solid border-slate-400 border-opacity-40 p-1.5 px-4">
      <span class="text-gray-400">PRODUCT INVENTORY</span>
      <a routerLink="./" class="text-blue-900 text-sm"><i class="pi pi-plus-circle text-blue-900"></i> Manage Products</a>
    </div>
    <div class="pt-4">
      <div class="flex flex-col mb-2 px-4">
        <span class="text-sm">#Products Out of Stock <i class="pi pi-circle-fill text-[7px] text-red-500"></i></span>
        <span class="font-bold text-xl">{{ data.productInventoryData.productOutOfStock }}</span>
      </div>
      <div class="flex flex-col px-4 mb-2">
        <span class="text-sm">#Number Products Nearly out of Stock <i class="pi pi-circle-fill text-[7px] text-red-500"></i></span>
        <span class="font-bold text-xl">{{ data.productInventoryData.nearlyOutOfStock }}</span>
      </div>
      <div class="pb-4 bg-slate-50 flex flex-col border-t border-solid border-slate-400 border-opacity-40 px-4 pt-2">
        <span class="text-sm mt-2">Not Selling Products in last 3 Months</span>
        <span class="font-bold text-xl">{{ data.productInventoryData.notSellingProductInLastThreeMonth }}</span>
        <a routerLink="./" class="text-blue-900">View Info</a>
      </div>
    </div> 
  </div>
  <!-- end of product inventory statistic -->

  <!-- product statistic -->
  <div class="border border-solid border-slate-400 border-opacity-40 rounded-sm mb-4">
    <div class="flex justify-between w-full border-b border-solid border-slate-400 border-opacity-40 py-1.5 px-4">
      <span class="text-gray-400">PRODUCT</span>
      <a routerLink="./" class="text-blue-900 text-sm"><i class="pi pi-plus-circle text-blue-900"></i> Manage Product</a>
    </div>
    <div class="p-4">
      <div class="flex flex-col">
        <span class="text-sm">Inactive <i class="pi pi-circle-fill text-[7px] text-red-500"></i></span>
        <span class="font-bold text-xl">{{ data.productData.Inactive }}</span>
      </div>
    </div> 
  </div>
  <!-- end of product statistic -->

  <!-- channel statistic -->
  <div class="border border-solid border-slate-400 border-opacity-40 rounded-sm mb-4">
    <div class="flex justify-between w-full border-b border-solid border-slate-400 border-opacity-40 py-1.5 px-4">
      <span class="text-gray-400">CHANNEL</span>
      <a routerLink="./" class="text-blue-900 text-sm"><i class="pi pi-plus-circle text-blue-900"></i> Manage Channel</a>
    </div>
    <div class="p-4">
      <div class="flex flex-col mb-2">
        <span class="text-sm">Active Channels <i class="pi pi-circle-fill text-[7px] text-lime-700"></i></span>
        <span class="font-bold text-xl">{{ data.channelData.activeChannel }}</span>
      </div>
      <div class="flex flex-col">
        <span class="text-sm">Inactive Channels <i class="pi pi-circle-fill text-[7px] text-red-500"></i></span>
        <span class="font-bold text-xl">{{ data.channelData.inactiveChannel }}</span>
      </div>
    </div> 
  </div>
  <!-- end of channel statistic -->
</div>
