<div class="flex flex-col text-left  mb-20 rounded-lg bg-white ">
    <div class="p-4">
        <h1 class="text-sm font-bold">Top Selling Products</h1>
    </div>
    <hr class="mb-2" />
    <div class="flex flex-row justify-between px-4">
        <p class="font-medium text-xs text-gray-500">Products</p>
        <p class="font-medium text-xs text-gray-500">Value Sales</p>
    </div>
    <hr class="my-2" />
    <div class="flex flex-row justify-between px-4 mb-3">
        <p class="font-medium text-xs text-gray-800">Product 1</p>
        <p class="font-medium text-xs text-gray-800">SGD 2,425,678.00</p>
    </div>
    <div class="flex flex-row justify-between px-4 mb-3">
        <p class="font-medium text-xs text-gray-800 ">Product 2</p>
        <p class="font-medium text-xs text-gray-800 ">SGD 2,425,678.00</p>
    </div>
    <div class="flex flex-row justify-between px-4 mb-3">
        <p class="font-medium text-xs text-gray-800 ">Product 3</p>
        <p class="font-medium text-xs text-gray-800 ">SGD 2,425,678.00</p>
    </div>
</div>